* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile View */
@media (max-width: 360px) {
    width: 100%;
    background-color: gray;
    .container {
        display: flex-box;
        /* width: 1024px;
        
        min-height: 300px; */
        margin-left: auto;
        margin-right: auto;
        
    }
}







/* Tablet View */
@media (max-width: 768px) {
    background-color: green;
}







/* Desktop */
 body {
    /* background-image: linear-gradient( #Ff3cac, #784b80, #2b8cb5);  */
   background-color: aqua;
 }

 /* .container {
    display: flex-box;
    /* width: 1024px;
    
    min-height: 300px; */
    /* margin-left: auto;
    margin-right: auto;
    
} */ 

header {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 5px dotted black;
 }

 main {
   
    min-height: 525px;
    display: flex;
    align-items: center;
    border-bottom: 5px dotted black;

}
/* 
.cards {
    min-height: 00px;
    display: flex;
    align-items: center;
} */

.herobox2 {
    display: flex;
    padding-left: 5%;
}
.text1 p {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 75%;
    
}
.text2 p {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 75%;
    
}