

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

   
.container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        min-height: 500px;
        max-width: 1024px;
        width: 100vw;
        /* background-image: linear-gradient( #Ff3cac, #784b80, #2b8cb5); */
        flex-wrap: wrap;
        /* justify-content: space-around; */
        margin-bottom: 40px;
        /* align-content: strech;  */
        color: navy;
        /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,246,236,1) 39.5%, rgba(100,46,122,0.23) 100.2% );
        
    }

 .col {
    
     min-height: 200px;
     width: 100%;  
    margin-bottom: 40px;
 }

 .col img {
     width: 100%;
 }

/* html {
    font-family: 'Cormorant', serif;
    font-weight: 700;
} */



h1 {
        color: yellow;
    }
h2 {
    text-decoration: underline;
}
     
header {
   
            /* display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 20px;
            border-bottom: 5px dotted black; */
       
           
 }



.navbar {
    /* border: 1px dotted navy;
    border-width: 1px 0; */
    font-family: 'Cormorant', serif;
    font-weight: 700;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem; 
   
}
 nav li {
    display: inline;
    font-size: 30px;
    list-style: none;
    
}
a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
.hamburger {
    display: none;
}
.navbar {
    display: blcok;
    width: 100%;
    
    margin: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    

}
 .bar {
     width: 20px;
     height: 2px;
     background-color: black;
 }
  
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
}



.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

li {
    padding: 0;
    display: flex;
    font-size: 32px;
}



main {
   
            min-height: 52px;
            /* display: flex; */
            /* align-items: center; */
            border-bottom: 5px dotted black;
           
        }   
        
.herobox1 {
            display: flex; 
            object-fit: cover;


        }

.herobox1 img {
   width: 100%;
}

.card-overview {
    max-width: 300px;
    justify-content: space-around;
    
  }

  .card-overview small {
    color: var(--sl-color-gray-500);
  }

  .card-overview [slot="footer"] {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }


.col4 {
            font-size: 25px;
            list-style-type: none;
            font-family: 'Cormorant', serif;
            font-weight: 400;
            
        }
.col5 {
    
        font-family: 'Cormorant', serif;
        font-weight: 400;
        justify-items: ;
        
    } 
        
.col6 {
    font-family: 'Cormorant', serif;
        font-weight: 400;
}    

.col7 {
    font-family: 'Cormorant', serif;
        font-weight: 400;
}

.col8 {
    font-family: 'Cormorant', serif;
        font-weight: 400;
}

.text1 p {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            align-content: flex-start;
            width: 75%;
            font-size: 32px;
        }

.text2 p {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            align-content: flex-start;
            width: 75%;
            font-size: 32px;
            
        }






/* Tablet View */
@media (max-width: 768px) {
    h1 {color: red;}
    .col { width: 45%;}

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}






/* Mobile View */
@media (max-width: 360px) {
    h1 {color: blue;}
    .col { width: 100%;}

    
} 
    






/* 
.cards {
    min-height: 00px;
    display: flex;
    align-items: center;
} */

